<%- include('partials/header') %>

    <body>

        <%- include('partials/navbar')%>


            <div class="container">
                <hr>
                <h1>Perguntas</h1>
                <hr>
                <a href="/Perguntar" class="btn btn-outline-success">Perguntar</a>
          
                <% perguntas.forEach(pergunta=> { %><!-- estrutura do forEachc  listando pergunta no frontend-->
                    <br>
                    <div clss="card">
                        <div class="card-body">
                            <h3><%= pergunta.titulo %> </h3>
                           </div>
                         <div class="card.footer">
            <a href="/pergunta/<%= pergunta.id %>"a><button class="btn btn-outline-success"> Responder</button></a> 
                               <!--pagina das perguntas-->
                        </div> 
                        </div>

                        <% }) %>
                            

                    </div>

    </body>
    <%- include('partials/footer') %>